* {
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1em;
    font-family: MyriadArabic-Light, sans-serif;
    font-weight: 600;
    color: #330a3fa2;
}

select,
option,
label,
button,
li,
i,
b,
p {
    font-size: 16px;
}

h1 {
    padding: 5px;
    font-size: 54px;
}

button {
    color: black;
    background:transparent;
    border-radius: 10%;
    border: 1px solid transparent;
    display: flex;


}

ul {
    width: 85%;
    margin: auto 0;
}

li {
    text-align: left;
}
input, select{
    margin: 0 2px;
    font-size: 18px;
}

.bold {
    font-weight: 900;
}

.pointer:hover {
    cursor: pointer;
}

.app-wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr 1fr;
}

.info-wrapper {
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(200, 150, 100, .726), rgba(231, 235, 0, 0.726));
    max-width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.grid-wrapper p {
    color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid rgb(2, 2, 2);
    background: linear-gradient(white, silver);
}
.box:hover{
   transform: scale(1.05);
   box-shadow: 5px 2px 2px black;
}

.selected {
    background: linear-gradient(rgba(255,15, 40, .8), rgba(255,150,100,.8));
}

.controls {
    padding: 0 0 10px;
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-height: 700px) {
    .grid-wrapper {
        justify-content: center;
    }
}