* {
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1em;
    font-family: MyriadArabic-Light, sans-serif;
    font-weight: 600;
    color: rgba(51, 10, 63, .9);
}

select,
option,
label,
button,
li,
i,
b,
p {
    font-size: 18px;
}

h1 {
    padding: 5px;
    font-size: 54px;
}

button {
    color: black;
    background: transparent;
    border-radius: 10%;
    border: 1px solid transparent;
    display: flex;
}

ul {
    width: 85%;
    margin: auto 0;
}

li {
    text-align: left;
}

input,
select {
    margin: 0 2px;
    font-size: 18px;
}

.bold {
    font-weight: 900;
}

.pointer:hover {
    cursor: pointer;
}

.app-wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr 1fr;
}

.info-wrapper {
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#F3FFDF, #AE9EB2);
    max-width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid-footer{
    min-height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
}

.box {
    border: 1px solid rgb(2, 2, 2);
    background: linear-gradient(white, rgba(0, 0, 0, .1));
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 5px 2px 2px black;
}

.selected {
    background: linear-gradient( rgb(135, 178, 57, .3), rgb(135, 178, 57));
}

.controls {
    padding: 0 0 10px;
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-height: 700px) {
    .grid-wrapper {
        justify-content: center;
    }
}